.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #ffffff;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
   -fx-text-alignment: center; 
   -fx-alignment: center;
}

#h1-text {
	-fx-font-size: 24px;
   	-fx-font-family: "Arial Black";
   	-fx-fill: #ffffff;
  	-fx-text-alignment: center; 
  	-fx-alignment: center;
}

#h2-text {
	-fx-font-size: 20px;
   	-fx-font-family: "Arial Black";
   	-fx-fill: #ffffff;
  	-fx-text-alignment: center; 
  	-fx-alignment: center;
}

#actiontarget {
  -fx-fill: #ffffff;
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(rgb(255, 225, 0), rgb(255, 170, 0));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: linear-gradient(rgb(255, 170, 0), rgb(255, 225, 0));
}
.root{
	-fx-background: rgb(150, 0, 0);
}
.label{
	-fx-text-fill: #ffffff;
	-fx-font-size: 16px;
}

.table-view{
   -fx-background-color: transparent;
   -fx-font-size: 14px;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background, .table-view .column-header-background .filler {
    -fx-background-color: linear-gradient(rgb(255, 225, 0), rgb(255, 170, 0));
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:vertical {
	-fx-background-color: #616161;
}

.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:vertical .thumb {
	-fx-background-color: #424242;
	-fx-background-insets: 3px;
	-fx-background-radius: 25px;
}

.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow,
	.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:vertical .decrement-button .decrement-arrow {
	-fx-background-color: #373737;
	-fx-effect: none;
}

.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:vertical .increment-button:hover,
	.table-view:row-selection:constrained-resize .virtual-flow .scroll-bar:vertical .decrement-button:hover {
	-fx-background-color: transparent;
}

.hyperlink, .hyperlink:visited {
	-fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-underline: true;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.hideempty .table-row-cell:empty {
    -fx-background-color: transparent;
}
 
.hideempty .table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

